include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include bfo_torch *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md *.rst *.txt
prune bfo_torch/__pycache__
prune tests/__pycache__
prune examples/__pycache__